# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store

!pom.xml
!/*/src/
!/*/pom.xml
!.gitignore
!/spring-cloud/*/src/
!/spring-cloud/*/pom.xml

### IntelliJ IDEA ###

Thumbs.db

