<component name="ArtifactManager">
  <artifact type="war" name="springfreemarker:war">
    <output-path>$PROJECT_DIR$/springfreemarker/target</output-path>
    <root id="archive" name="spring-freemarker.war">
      <element id="artifact" artifact-name="springfreemarker:war exploded" />
    </root>
  </artifact>
</component>