<component name="ArtifactManager">
  <artifact type="exploded-war" name="springfreemarker:war exploded">
    <output-path>$PROJECT_DIR$/springfreemarker/target/spring-freemarker</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springfreemarker" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springfreemarker/target/spring-freemarker/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springfreemarker/web/Web" />
    </root>
  </artifact>
</component>